.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8px 5px;
    border-bottom: 1px solid #5BC5A7;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 2px 4px rgba(0,0,0,.33);
}