.profile-container {
  border: 1px solid #ccc;
  border-radius: 5px 5px 4px 4px;
}

.profile-container .top-background {
  height: 100px;
  background: #34a7fc;
  position: relative;
}

.profile-container .edit-cont {
  position: absolute;
  width: 36px;
  height: 36px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0079d3;
  cursor: pointer;
}

.profile-container .avatar-cont {
  position: absolute;
  width: 86px;
  height: 86px;
  bottom: -14px;
  border: 4px solid white;
  border-radius: 5px;
  left: 18px;
  z-index: 99;
}

.profile-container .top-background .edit-cont {
  bottom: 12px;
  right: 12px;
}

.profile-container .avatar-cont .edit-cont {
  bottom: -10px;
  right: -14px;
}

.profile-container img {
  width: 100%;
  height: 100%;
}

.profile-container .setting-cont {
  position: absolute;
  right: 16px;
  top: 8px;
  cursor: pointer;
}

.profile-container .name-container h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 0;
}

.profile-container .name-container span {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.profile-container .main-container {
  padding: 28px 14px 14px;
  background: white;
  position: relative;
}

.profile-container .round-btn {
  margin-top: 8px;
  display: flex;
  min-height: 32px;
  min-width: 32px;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-radius: 999px;
  width: 100%;
  padding: 3px 16px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: unset;
  line-height: 17px;
  border: none;
}

.profile-container .round-btn svg {
  height: 15px;
}

.profile-container .red-btn {
  background: linear-gradient(90deg, #ec0623, #ff8717);
}

.profile-container .blue-btn {
  background: #0079d3;
}

.profile-container .description-cont p {
  font-family: Noto Sans,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #1c1c1c;
  margin-bottom: 8px;
  margin-top: 8px;
}

.profile-container .repo-cont {
  display: flex;
  gap: 12px;
}

.profile-container .karma, .profile-container .cake {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 12px;
}

.repo-cont span {
  color: #7c7c7c;
  font-size: 12px;
  font-weight: 400;
}

.repo-cont span.label {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #222222;
}

.option-toggle {
  font-family: Noto Sans,Arial,sans-serif;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 0;
  color: #0079d3;
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}

.option-toggle span {
  padding: 12px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
}

.option-toggle span:hover {
  background: #ededed;
}

.trophy-container, .help-container {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 32px;
  padding: 12px 14px;
}

.trophy-container .header-container {
  margin-bottom: 24px;
}

.trophy-container .header-container h2 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.trophy-main-content {
  display: flex;
  gap: 8px;
}

.trophy-main-content .img-cont {
  width: 42px;
  height: 42px;
}

.trophy-container .text-cont h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  margin: 0;
  color: #1c1c1c;
}

.trophy-container .text-cont p {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #1c1c1c;
}

.help-container .help-content {
  display: flex;
  gap: 16px;
}

.help-container .help-content .help-item {
  font-family: Noto Sans,Arial,sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(26, 26, 27);
  margin: 3px 0;
}

.help-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-transform: capitalize;
}

.right-reserved-cont {
  font-family: Noto Sans,Arial,sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 24px;
}
